/*color*/
/*card*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3b4b44;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.buttonGeneric {
  background-color: #e4d1b9;
  padding: 20px;
  border: 1px solid #2f5b70;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #3b4b44;
  cursor: pointer;
}

body {
  background-color: #70442f;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a29497' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 40px;
}
body .swal2-popup {
  font-size: 1.5rem;
}
body .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  padding: 20px 0px;
  margin-bottom: 20px;
  background-color: #e4d1b9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a29497' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border: 1px solid #2f5b70;
  border-radius: 5px;
  box-shadow: 0px 0px 35px -10px #2a1a12;
  -webkit-box-shadow: 0px 0px 35px -10px #2a1a12;
  -moz-box-shadow: 0px 0px 35px -10px #2a1a12;
}
body .title h1 span {
  text-transform: uppercase;
  color: #3b4b44;
}
body .music audio {
  width: 100%;
}
body .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  flex-wrap: none;
  gap: 20px;
  background-image: url(../../multimedia/img/bgpg.webp);
  background-size: contain;
}
body .container__text {
  text-align: center;
  font-size: 20px;
  margin: 40px;
  width: 70%;
}
body .container__text span {
  text-transform: uppercase;
  color: #3b4b44;
}
body .container__text__gold {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: none;
  gap: 0px;
}
body .container__text__gold__img {
  width: 70px;
}
body .container__text__gold__info {
  font-size: 45px;
  font-weight: bold;
}
body .container__text__description {
  background-color: rgba(5, 4, 4, 0.6509803922);
}
body .container__text__description #warning {
  color: #dd1616;
  text-decoration: underline;
}
body .container__text__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 40px;
  margin: 20px;
}
body .container__text__button__dig {
  padding: 20px;
  cursor: pointer;
}
body .container__text button:active img {
  content: url("../../multimedia/img/btn2.webp");
}
body .container__carrucel {
  width: 30%;
  height: 800px;
  background-color: rgba(228, 209, 185, 0.8352941176);
  overflow: scroll;
  overflow-x: hidden;
}
body .container__carrucel__cards {
  margin: 20px;
}
body .container__carrucel__cards .card {
  border: 2px solid #862B0D;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .container__carrucel__cards .card__lvl {
  background-color: #B5C99A;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px 20px;
}
body .container__carrucel__cards .card__lvl p {
  font-weight: bold;
}
body .container__carrucel__cards .card__lvl span {
  font-weight: bold;
  font-size: 18px;
}
body .container__carrucel__cards .card__info {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  gap: 0px;
  padding: 10px;
  background-color: #FFF9C9;
}
body .container__carrucel__cards .card__info__img {
  width: 50%;
}
body .container__carrucel__cards .card__info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 20px;
  width: 50%;
  background-color: #FFC95F;
  padding: 5px;
}
body .container__carrucel__cards .card__info__text p {
  font-weight: bold;
  font-size: 20px;
}
body .container__carrucel__cards .card__info__text span {
  font-weight: bold;
  font-size: 1rem;
}
body .container__carrucel__cards .card__info__text__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 0px;
  width: 100%;
  background-color: #B5C99A;
  padding: 4px 15px 4px 5px;
  border: 1px solid #862B0D;
  box-shadow: 1px 2px 5px 1px #2a1a12;
  border-radius: 5px;
  cursor: pointer;
}
body .container__carrucel__cards .card__info__text__button__img {
  width: 50%;
}
body .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  gap: 0px;
  padding: 40px;
  margin: 20px 0px 0px 0px;
  background-color: #e4d1b9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a29497' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border: 1px solid #2f5b70;
  border-radius: 5px;
  box-shadow: 0px 0px 35px -10px #2a1a12;
  -webkit-box-shadow: 0px 0px 35px -10px #2a1a12;
  -moz-box-shadow: 0px 0px 35px -10px #2a1a12;
}
body .footer__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  gap: 10px;
}
body .footer__right img {
  max-width: 30px;
}

/*# sourceMappingURL=style.css.map */
