body {
  background-color: $bg-color;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a29497' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 40px;

  .swal2-popup {
    font-size: 1.5rem;
  }

  .title {
    @include d-flex(row, center, center, none, none);
    padding: 20px 0px;
    margin-bottom: 20px;
    background-color: $bg-color2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a29497' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border: 1px solid $border-triada;
    border-radius: 5px;
    box-shadow: 0px 0px 35px -10px $border-shadows;
    -webkit-box-shadow: 0px 0px 35px -10px $border-shadows;
    -moz-box-shadow: 0px 0px 35px -10px $border-shadows;
    h1 {
      span {
        text-transform: uppercase;
        color: $color-text-complement;
      }
    }
  }
  .music{
    audio{
      width: 100%
    }
  }
  .container {
    @include d-flex(row, center, space-between, none, 20px);
    background-image: url(../../multimedia/img/bgpg.webp);
    background-size: contain;

    &__text {
      text-align: center;
      font-size: 20px;
      margin: 40px;
      width: 70%;

      span {
        text-transform: uppercase;
        color: $color-text-complement;
      }

      &__gold {
        @include d-flex(row, flex-start, center, none, 0px);

        &__img {
          width: 70px;
        }

        &__info {
          font-size: 45px;
          font-weight: bold;
        }
      }

      &__description {
        background-color: $bg-warning;

        #warning {
          color: $color-warning;
          text-decoration: underline;
        }
      }

      &__button {
        @include d-flex(column, center, center, none, 40px);
        margin: 20px;

        &__dig {
          padding: 20px;
          cursor: pointer;
        }
      }

      button:active {
        img {
          content: url("../../multimedia/img/btn2.webp");
        }
      }
    }

    &__carrucel {
      width: 30%;
      height: 800px;
      background-color: $bg-color3;
      overflow: scroll;
      overflow-x: hidden;

      &__cards {
        margin: 20px;

        .card {
          border: 2px solid $card-borde;
          border-radius: 4px;
          margin-bottom: 20px;

          &__lvl {
            background-color: $card1;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            padding: 10px 20px;

            p {
              font-weight: bold;
            }

            span {
              font-weight: bold;
              font-size: 18px;
            }
          }

          &__info {
            @include d-flex(row, none, none, none, 0px);
            padding: 10px;
            background-color: $card-bg;

            &__img {
              width: 50%;
            }

            &__text {
              @include d-flex(column, center, center, none, 20px);
              width: 50%;
              background-color: $card4;
              padding: 5px;

              p {
                font-weight: bold;
                font-size: 20px;
              }

              span {
                font-weight: bold;
                font-size: 1rem;
              }

              &__button {
                @include d-flex(row, center, center, none, 0px);
                width: 100%;
                background-color: $card1;
                padding: 4px 15px 4px 5px;
                border: 1px solid $card-borde;
                box-shadow: 1px 2px 5px 1px $border-shadows;
                border-radius: 5px;
                cursor: pointer;

                &__img {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    @include d-flex(row, space-between, center, none, 0px);
    padding: 40px;
    margin: 20px 0px 0px 0px;
    background-color: $bg-color2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a29497' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border: 1px solid $border-triada;
    border-radius: 5px;
    box-shadow: 0px 0px 35px -10px $border-shadows;
    -webkit-box-shadow: 0px 0px 35px -10px $border-shadows;
    -moz-box-shadow: 0px 0px 35px -10px $border-shadows;
    &__right{
      @include d-flex(row, space-between, center, none, 10px);
      img{
        max-width: 30px;
      }
    }
  }
}
