body {
    padding: 40px;
    background-color: #4d2615;

    .title {
        @include d-flex(row, center, center, none, none);
        margin-bottom: 40px;
        background-color: rgb(128, 41, 41);
        h1 {
            span {
                text-transform: uppercase;
                color: $color-text-complement;
            }
        }
    }

    .container {
        @include d-flex(row, center, center, none, 20px);
        background-image: url(../../multimedia/img/bgpg.webp);
        background-size: contain;
        &__text {
            text-align: center;
            font-size: 20px;
            margin: 40px;
            width: 70%;
            span {
                text-transform: uppercase;
                color: $color-text-complement;
            }
            &__gold{
                @include d-flex(row, flex-start, center, none, 0px);
                background-color: rgba(46, 26, 26, 0.651);
                &__img{
                    width: 70px;
                }
                &__info{
                    font-size: 45px;
                    font-weight: bold;
                }
            }
            &__description{
                background-color: rgba(46, 26, 26, 0.651);
                #warning {
                    color: red;
                    text-decoration: underline;
                }
            }
            &__button {
                @include d-flex(column, center, center, none, 40px);
                margin: 20px;
                &__dig {
                    padding: 20px;
                    cursor: pointer;
                }
                &__reset {
                    background-color: rgb(95, 43, 43);
                    padding: 20px;
                    border: 4px solid blue;
                    border-radius: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    color: green;
                    cursor: pointer;
                }
            }
            button:active{                        
                img{
                    content: url("../../multimedia/img/btn2.webp");
                }
            }
        }
        &__carrucel {
            width: 30%;
            height: 800px;
            background-color: rgb(46, 46, 112);
            overflow: scroll;
            overflow-x: hidden;
            &__cards{
                margin: 20px;
                .card{
                    background-color: rgb(146, 63, 63);
                    border: 2px solid red;
                    border-radius: 4px;
                    margin-bottom: 20px;
                    &__lvl{
                        background-color: rgb(168, 168, 192);
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        padding: 10px 20px;
                        p{
                            font-weight: bold;
                            color: #1a1a1a;
                        }
                        span{
                            font-weight: bold;
                            color: #1a1a1a;
                            font-size: 18px;
                        }
                    }
                    &__info{
                        @include d-flex(row, none, none, none, 0px);
                        padding: 10px;
                        background-color: yellow;
                        &__img{
                            width: 50%;
                        }
                        &__text{
                            @include d-flex(column, center, center, none, 20px);
                            width: 50%;
                            background-color: green;
                            padding: 5px;
                            p{
                                font-weight: bold;
                                color: #1a1a1a;
                                font-size: 20px;
                            }
                            span{
                                font-weight: bold;
                                color: #1a1a1a;
                                font-size: 1rem;
                            }
                            &__button{
                                @include d-flex(row, center, center, none, 0px);
                                width: 100%;
                                background-color: red;
                                padding: 4px 15px 4px 5px; 
                                border: 3px solid blue;
                                border-radius: 5px;
                                cursor: pointer;
                                &__img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
                /*             .card {
                @include d-flex(column, center, center, wrap, 20px);
                padding: 20px;
                background-color: #2c477a;
                width: 100%;
                min-height: 200px;
                margin: 20px 10px;
                cursor: pointer;
                font-weight: bold;
                font-size: 20px;
                &__title{
                    &__name{
                        color: #141414;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                &__img{
                    height: 200px;
                }
                &__text{
                    @include d-flex(row, space-between, center, none, 10px);
                    &__lvl,&__cost,&__power{
                        color: #f0f0f0;
                        border: 2px solid rgb(14, 14, 58);
                        padding: 5px;
                    }
                }
            } */
            }
        }
    }
}