.buttonGeneric{
    background-color: $bg-color2;
    padding: 20px;
    border: 1px solid $border-triada;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: $color-text;
    cursor: pointer;
}