/*color*/
$color-text: #3b4b44;
$color-text-complement: #3b4b44;
$bg-color: #70442f;
$bg-color2: #e4d1b9;
$bg-color3: #e4d1b9d5;
$border-triada:#2f5b70;
$border-shadows:#2a1a12;
$color-warning:#dd1616;
$bg-warning:#050404a6;
/*card*/
$card1:#B5C99A;
$card-borde:#862B0D;
$card-bg:#FFF9C9;
$card4:#FFC95F;